<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body style="background-color: black">
<h1 style="text-align : center; color: lavender; font-size: 55px">
    <i class="gowun-batang-regular">Fropify</i>
</h1>
<p style="text-align: center; color: lavender; font-size: 25px; ">
    LOGIN
</p>
<form>
    <div style="color: lavender">
        <input type="text" name="ID" placeholder="ID" required/>
    </div>
    <div style="color: lavender">
        <input type="password" name="paw" placeholder="PASSWORD" required/>
    </div>
    <a href="kakao">소셜 로그인</a>
    <button type="submit" ></button>
</form>
<script>



</script>
</body>
</html>