<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>프로피파이샘플</title>
</head>
<body style="background-color: black">
<h1 style="text-align : center; color: lavender">
    <i>Fropify</i>
</h1>
<p id="login" style="text-align: right; color: lavender; ">
    <b style="cursor: pointer; fontfont-size: 20px">로그인</b>
    <b style="cursor: pointer; font-size: 20px">회원가입</b>
</p>

<p style="text-align: center; color: lavender;">
    프로피파이는, Spotify와 연계된 서비스로 당신에게 음악적 서비스를 제공합니다.
</p>
<div id="">


</div>


<script>
document.getElementById("login").onclick=function (){
    if (){

    }else {

    }
}



</script>
</body>
</html>