<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>프로피파이샘플</title>
    <link rel="stylesheet" th:href="@{/css/global.css}" />
</head>
<body style="background-color: black">
<h1 style="text-align : center; color: lavender; font-size: 55px">
    <i class="gowun-batang-regular">Fropify</i>
</h1>
<p id="login" style="text-align: right; color: lavender; ">
    <b style="cursor: pointer; font-size: 20px;">로그인</b>
    <b> / </b>
    <b style="cursor: pointer; font-size: 20px">회원가입</b>
</p>
<p style="text-align: center; color: lavender; font-size: 20px" class="gowun-batang-regular">
    프로피파이는, Spotify와 연계된 서비스로 당신에게 음악적 서비스를 제공합니다.
</p>

<div class="container" style="display: flex; justify-content: space-between; width: 100%; font-size: 40px">
    <div id="song-rank" class="left-menu">
        <b style="color: lavender"> 왼쪽 메뉴</b>
    </div>
    <div id="song" class="right-menu">
        <b style="color: lavender"> 오른쪽 메뉴</b>
    </div>
</div>


<p style="font-size: 40px; color: lavender; text-align: center;">
    "This project was created by Team (우리팀이름안정함)."
</p>



<script>

/* document.getElementById("login").onclick=function (){
    if (){

    }else {

    }
}*/



</script>
</body>
</html>