<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyPage</title>
  <link rel="stylesheet" th:href="@{/css/global.css}"/>
</head>
<body style="background-color: black">
<h1 style="text-align : center; color: lavender; font-size: 55px">
  <i class="gowun-batang-regular">MY PAGE</i>
</h1>
<p style="text-align: center; color: lavender;">
유저 프로필 이미지
</p>
<p style="text-align: center; color: lavender;">
  유저 id (닉네임?)
</p>


<div>
<p style="font-size: 20px; color: lavender; text-align: center;">
  "This project was created by Team (우리팀이름안정함)."
</p>
</div>


<script>


</script>
</body>
</html>